{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Detalle de {{autor}}
{% endblock titulo %}

{% block contenido %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{autor.nombre}}</h5>
      <p class="card-text">Nacido el {{autor.fecha_nacimiento}}</p>
      <p class="card-text">En {{autor.nacionalidad}}</p>
      <p class="card-text">Número de Identificación {{autor.id}}</p>
      <a href="{% url 'app_frases:lista_por_autor' autor.id %}">
        <p class="card-text">Cantidad de frases {{cantidad_frases}}</p>
      </a>
      <a href="{% url 'app_autores:lista_autores' %}" class="btn btn-primary">
        <img src="{% static 'img/atras.png' %}" alt="Volver" width=32px>
      </a>
    </div>
  </div>

{% endblock contenido %}