{% extends 'base.html' %} 
{% load static %}
{% block titulo %} Autores {% endblock titulo %} 

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Nacionalidad</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Fecha de Fallecimiento</th>
            <th scope="col">Activo</th>
            <th scope="col">Creado</th>
            <th scope="col">Modificado</th>
            <th scope="col">Detalle</th>
            <th scope="col">Frases</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
        <tr>
            <td>
                <a href="{% url 'app_autores:detalle' autor.id %}">
                    {{autor.nombre}}
                </a>
            </td>
            <td>{{autor.nacionalidad}}</td>
            <td>{{autor.fecha_nacimiento}}</td>

            {% if autor.fecha_fallecimiento %}
                <td>{{autor.fecha_fallecimiento}}</td>
            {% else %}
                <td>Vive</td>
            {% endif %}

            <td>
                <a href="{% url 'app_autores:modificar_estado' autor.id %}">
                    {% if autor.activo %}
                        <img src="{% static 'img/activo.png' %}" alt="SI" width="32px">
                    {% else %}
                        <img src="{% static 'img/inactivo.png' %}" alt="NO" width="32px">
                    {% endif %}
                </a>
            </td>

            <td>{{autor.creado}}</td>
            <td>{{autor.modificado}}</td>

            <td>
                <a href="{% url 'app_autores:detalle' autor.id %}">
                    <img src="{% static 'img/detalle.png' %}" alt="Ir a detalle">
                </a>
            </td>

            <td>
                <a href="{% url 'app_frases:lista_por_autor' autor.id %}">
                    <img src="{% static 'img/frases.png' %}" alt="Ir a frases" width="32px">
                </a>
            </td>
            
            <td>
                <a href="{% url 'app_autores:borrar' autor.id %}">
                    <img src="{% static 'img/borrar.png' %}" alt="borrar" width="32px">
                </a>
            </td>
          </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
